:host {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

body {
  &.light {
    :host ::ng-deep .p-slider { 
      background-color: #161a21;
    } 
  }
}

:host ::ng-deep .p-slider-handle {
  display:none;
}

:host ::ng-deep .p-slider:hover .p-slider-handle {
  display:block;
}

:host ::ng-deep .p-slider-range {
  border-radius: 1rem;
}