<div
  class="dark:bg-revolver bg-light-revolver rounded-xl drop-shadow-card flex flex-col items-center py-4 px-4 w-full h-full"
>
  <div class="flex w-full items-center relative">
    @if (navigateBack) {
    <a
      routerLink="/login"
      class="absolute left-2 top-1/2 -translate-y-1/2 dark:text-white text-black hover:text-prime-green-light transition ease-in-out duration-150"
    >
      <fa-icon [icon]="faArrowLeft" class="text-2xl"></fa-icon>
    </a>
    } @if (icon) {
    <div class="flex-grow flex justify-center">
      <app-logo [logoSize]="icon" />
    </div>
    }
  </div>
  <ng-content></ng-content>
</div>
