<p-dialog
  [header]="'password_change' | transloco"
  [modal]="true"
  [(visible)]="isVisible"
  [resizable]="false"
  [closeOnEscape]="true"
  [draggable]="false"
  styleClass="password-dialog"
  [dismissableMask]="true"
  (onHide)="closeModal()"
>
  <form [formGroup]="passwordForm">
    <div class="flex justify-center mt-5 mb-8 w-full">
      <app-float-label-input
        class="w-full"
        type="text"
        idFor="curr-password"
        label="current_password"
        formControlName="currPassword"
      />
    </div>
    <div class="flex justify-center mb-8 w-full">
      <app-float-label-input
        class="w-full"
        type="text"
        idFor="new-password"
        label="new_password"
        formControlName="newPassword"
      />
    </div>
    <div class="flex justify-center mb-8 w-full">
      <app-float-label-input
        class="w-full"
        type="text"
        idFor="conf-password"
        label="confirm_password"
        formControlName="confPassword"
      />
    </div>

    <div class="flex justify-end gap-3">
      <button
        class="bg-prime-green px-4 flex justify-center items-center rounded-lg py-2 hover:bg-prime-green-hover ease-in-out duration-300 transition-colors"
        (click)="(false)"
      >
        {{ "settings.change_password" | transloco }}
      </button>
      <button
        (click)="closeModal()"
        class="bg-gray-500 px-4 flex justify-center items-center rounded-lg py-1 hover:bg-gray-600 ease-in-out duration-300 transition-colors"
      >
        {{ "delete_account.cancel" | transloco }}
      </button>
    </div>
  </form>
</p-dialog>
